<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/font/iconfont.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/taobao.css' %}"/>
</head>
<body>
<nav class="hdd">
    <div class="hdx">
        <ul class="hd_left">
            <li><a href={{ login_url }}>{{ login_state }}</a></li>
            <li><a href="logout">{{ logout }}</a></li>
            <li><a href="message">消息</a></li>
        </ul>
        <ul class="hd_right">
            <li><a href="mytgou" target="_blank">我的TGou</a></li>
            <li><a href="shopping_car">购物车</a></li>
            <li><a href="favorite">收藏夹</a></li>
            <li><a href="shopping_type">商品分类</a> <i class="icon iconfont icon-xiangxia"></i></li>
            <li>|</li>
            <li><a href="#">卖家信息</a><i class="icon iconfont icon-xiangxia"></i></li>
            <li><a href="service_centre">服务中心</a></li>
        </ul>
    </div>
</nav>
{#<div class="tu">#}
{#    <div class="tutu">#}
{#        <img src="{% static '/images/QQ浏览器截图20190726103635_03.png' %}"/>#}
{#    </div>#}
{#</div>#}
<div class="inp">
    <div class="imput">
        <div class="aitao">
            <a href="index"><img class="imgss" src="{% static "/images/Tgou.png" %}"/></a>
        </div>
        <div class="sousuo">
            <form action="">
                <input type="text">
                <button type="submit">搜索</button>
            </form>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
            <span>iphone</span>
        </div>
    </div>
</div>
<div class="navd">
    <div class="navx">
        <ul>
            <li>9.9疯抢<i class="icon iconfont icon-xiangxia"></i></li>
            <li>聚划算</li>
            <li>掏抢购</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
            <li>TGou药房</li>
        </ul>
    </div>
</div>
<div class="temaihan">
    <div class="temaixiao">
        <div class="sha">
            <div class="xtm_left">
                <p class="zheko">
                    优惠折扣
                </p>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <p class="tmh">
                    特卖会
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
            </div>

            <div class="uou">
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
                <div class="aa">
                    <img src="{% static "/images/images/images/images/images/images/1.jpg" %}"/>
                    <span style="font-size:12px;color:#ccc;">￥</span>
                    <span style="font-size:22px;color:red;">45.00</span>
                    <span style="font-size:12px;color:#ccc;"><del>￥138.00</del></span>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="nvlan">
    <div class="nvlanx">
        <div class="nv_r">
            <p class="mlnv">
                魅力女人
            </p>
            <img src="{% static "/images/images/images/images/images/images/QQ浏览器截图20190727114637_03.png" %}"/>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
        </div>
        <div class="ex">
					<span>
						风向标，买手呕血推荐
					</span>
            <span>
						更多
					</span>
        </div>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/3.png" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/3.png" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/2.jpg" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/2.jpg" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/2.jpg" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/2.jpg" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/2.jpg" %}"/>
        </p>
        <p class='meinv'>
            <img src="{% static "/images/images/images/images/images/images/2.jpg" %}"/>
        </p>

    </div>
</div>

<div class="kk">
    <div class="kkx">
        <p style="font-size:16px;font-weight:900;">
            猜你喜欢
        </p>
        <p class="xkk">
            <img src="{% static "/images/images/images/images/images/images/images/QQ浏览器截图20190727131137_03.png" %}"/>
            <span style="font-size:12px; color:#767676;">
						略略略
					</span>
        </p>
        <p class="xkk">
            <img src="{% static "/images/images/images/images/images/images/images/QQ浏览器截图20190727131137_03.png" %}"/>
            <span style="font-size:12px; color:#767676;">
						略略略
					</span>
        </p>
        <p class="xkk">
            <img src="{% static "/images/images/images/images/images/images/images/QQ浏览器截图20190727131137_03.png" %}"/>
            <span style="font-size:12px; color:#767676;">
						略略略
					</span>
        </p>
        <p class="xkk">
            <img src="{% static "/images/images/images/images/images/images/images/QQ浏览器截图20190727131137_03.png" %}"/>
            <span style="font-size:12px; color:#767676;">
						略略略
					</span>
        </p>
    </div>
</div>
<div class="foote">
    <div class="footer">
        <span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span><span>略略略</span>
        <p class="xian"></p>
        <span>关于TGou</span><span>关于TGou</span><span>关于TGou</span><span>关于TGou</span><span>关于TGou</span><span>关于TGou</span><span>关于TGou</span><span>关于TGou</span><span>关于TGou</span>

        <span style="color:#ccc;">
					&copy 2003-2016  版权所有
				</span>
        <p class="kaokao" style="color:#ccc; font-size:12px;">
            网络文化金鹰许可证：<span style="color:black;">这碗问[3013]0268-027</span><span>|</span>网络文化金鹰许可证：<span
                style="color:black;">这碗问[3013]0268-027</span><span>|</span>
        </p>
        <p class="meileer" style="color:#ccc; font-size:12px;">
            互联网违法和不良信息举报电话:0571-81683755 blxx@list.alibaba-inc.com
        </p>


    </div>
</div>
</body>
</html>
