<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="referrer" content="never"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TGou,随心购</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/font/iconfont.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/taobao.css' %}"/>
    <script src="{% static 'js/roll.js' %}"></script>

</head>
<body>
<nav class="hdd">
    <div class="hdx">
        <ul class="hd_left">
            <li><a href={{ login_url }}>{{ login_state }}</a></li>
            <li><a href="/api/v1.0/TGou/logout">{{ logout }}</a></li>
            {#            <li><a href="message" target="_blank">消息</a></li>#}
            <li><a href="user_info">{{ info }}</a></li>
        </ul>
        <ul class="hd_right">
            <li><a href="/api/v1.0/TGou/mytgou" target="_blank">我的TGou</a></li>
            {#            <li><a href="shopping_car" target="_blank" methods="post">购物车</a></li>#}
            <li><a href="/api/v1.0/TGou/shopping_car" target="_blank">购物车</a></li>

            {#            <li>|</li>#}
            {#            <li><a href="service_centre" target="_blank">服务中心</a></li>#}
        </ul>
    </div>
</nav>

<div class="inp">
    <div class="imput">
        <div class="aitao">
            <a href="/api/v1.0/TGou/index"><img class="imgss" src="{% static "/images/Tgou.png" %}"/></a>
        </div>
        <div class="sousuo">
            <form action="/api/v1.0/TGou/Search" method="get">
                <input type="text" name="content">
                <button type="submit">搜索</button>
            </form>
            {#            <span>iphone</span>#}

        </div>
    </div>
</div>
<div class="navd">
    <div class="navx">
        <ul>
            <li>9.9疯抢<i class="icon iconfont icon-xiangxia"></i></li>
            <li>聚划算</li>
            <li>掏抢购</li>

        </ul>
    </div>
</div>
<div class="temaihan">
    <div class="temaixiao">
        <div class="sha">
            <div class="xtm_left">
                <p class="zheko">
                    优惠折扣
                </p>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <span>超级返利</span>
                <p class="tmh">
                    特卖会
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
                <p class="xialan">
                    <span style="font-weight:900;">9.9疯抢</span>
                    <span>字母T</span>
                    <span>小百货</span>
                    <span>数码配件</span>
                </p>
            </div>
            {# 右上 #}
            <div class="uou">
                {% for photo in shoppings %}
                    <a class="aa" target="_blank" methods="get" href="shopp_info/{{ photo.id }}">
                        <img class=right_head src={{ photo.shopping_photo }}/>
                        <span class="aspan">{{ photo.shopping_price }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="nvlan">
    <div class="nvlanx">
        <div class="nv_r">
            <p class="mlnv">
                时尚服装
            </p>

            <div id="box" onmouseover="stop()" onmouseout="start()">
                <div class="slide"><img src="{% static "/images/QQ浏览器截图20190727114637_03.png" %}"/></div>
                <div class="slide"><img src="{% static "/images/2001513.jpg" %}"/></div>
                <div class="slide"><img src="{% static "/images/324442.jpg" %}"/></div>
            </div>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
            <p class="gzq">
                <span style="font-weight:900; ">裙子</span>
                <span>连衣裙</span>
                <span>冬半身裙</span>
                <span>旗袍裙子</span>
                <span>夏长裙</span>
            </p>
        </div>
        <div class="ex">
					<span>
						风向标，买手呕血推荐
					</span>
            {#            <span>#}
            {#						更多#}
            {#					</span>#}
        </div>
        {% for shopping in shoppings2 %}
            <a class='meinv' target="_blank" href="shopp_info/{{ shopping.id }}">
                <img src={{ shopping.shopping_photo }}/>
                <span style="font-size:15px;color:coral;">{{ shopping.shopping_price }}</span>
            </a>
        {% endfor %}
    </div>
</div>

<div class="kk">
    <div class="kkx">
        <p style="font-size:16px;font-weight:900;">
            猜你喜欢
        </p>
        {% for guess in guess_shoppings %}
            <a class="xkk" target="_blank" href="shopp_info/{{ guess.id }}">
                <img src={{ guess.shopping_photo }}/>
                <br>
                <span style="font-size:15px; color:#333333;">
						{{ guess.shopping_name }}
					</span>
            </a>
        {% endfor %}
    </div>
</div>
</body>
</html>

