<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/font/iconfont.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/taobao.css' %}"/>
</head>
<body>
<div class="hdd">
    <div class="hdx">
        <ul class="hd_left">
            <li><a href={{ login_url }}>{{ login_state }}</a></li>
            <li><a href="logout">{{ logout }}</a></li>
            <li><a href="message">消息</a></li>
        </ul>
        <ul class="hd_right">
            <li>TGou,随心购</li>
            <li><a  href="mytgou" target="_blank">我的TGou</a></li>
            <li><a  href="shopping_car">购物车</a></li>
            <li><a href="favorite">收藏夹</a></li>
            <li><a href="shopping_type">商品分类</a> <i class="icon iconfont icon-xiangxia"></i></li>
            <li>|</li>
{#            <li><a href="#">卖家信息</a><i class="icon iconfont icon-xiangxia"></i></li>#}
            <li><a href="service_centre">服务中心</a></li>
        </ul>
    </div>
</div>