{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <head>
        <title>登陆</title>
    </head>
    <body style="background: url({% static 'images/324442.jpg' %});background-size: cover ;opacity: 1.0">

    <div style="margin: 15% 40%;">
        <h1 style="color:orangered;">欢迎登录！</h1>
        <form action="/api/v1.0/TGou/login" method="post">
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {#  通过{{ login_form.****.label_tag }}获取每一个字段，然后分别渲染 #}
            {#  login_form 视图函数传过来的表单对象  #}
            <div class="form-group" style="color: orangered">
                {{ login_form.username.label_tag }}
                {{ login_form.username }}
            </div>
            <div class="form-group" style="color:orangered;">
                {{ login_form.password.label_tag }}
                {{ login_form.password }}
                <a href="modify_psd" style="color:#FF0000 ">忘记密码? </a>
            </div>
            <div class="form-group">
                <span style="color: red">
                    {{ login_form.captcha.errors }}
                </span>
                {{ login_form.captcha.label_tag }}
                {{ login_form.captcha }}
            </div>
            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">提交</button>
        </form>
    </div>
    <script>
        $(function () {
            $(".captcha").click(function () {
                $.getJSON("/captcha/refresh/?", function (result) {
                    $('.captcha').attr('src', result.image_url);
                    $('#id_captcha_0').val(result.key);
                });
            });
        });
    </script>
    </body>


{% endblock %}