    <div class=" ">
        <div class="">

            <table>
                <tbody>
                <tr>
                    <td>订单号:{{ order_number }}</td>  {# 订单号 #}

                    <td class="">
                        <img src="{% static "/images/images/images/images/images/images/1.jpg" %}" alt="">
                    </td>

                    <td class="">{{ todo }}---</td>
                    {# 商品信息 #}
                    <td class="">单价{{ todo }}(元)</td>
                    {# 单价 #}
                    <td class="">{{ todo }}--</td>
                    {# 商品数量 #}
                    <td class="">小计{{ todo }}(元)</td>
                    {# 总计 #}
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-10" style="background:transparent">
                        收货人: <input type="text" name="uname">
                        收货地址:<input type="text" name="address">
                        收货电话:<input type="text" name="phone">
                        邮编:<input type="text" name="pcode">
                    </div>
                </div>
            </div>
            <br>
            <!-- 结算详情 -->
            <div class="cart-footer" id="cartFooter">
                <div class="container">

                    <div class="cart-footer-left col-md-6 col-xs-4 col-sm-4">
                        <span class="cart-footer-count">
                        共
                        <span class="cart-footer-num" id="totalCount">{{ subnum }}</span>
                        件商品
                   </span>
                    </div>
                    <div class="cart-footer-right col-md-4 col-md-pull-2 col-sm-offset-2 col-xs-8 col-sm-6">
                        <div class="">
                            <span class="cart-footer-text">已优惠</span>
                            <span class="cart-footer-num red" id="totalDiscount">0.00</span>
                            <span class="cart-footer-text">元， 合计(不含运费)：</span>
                            <span class="cart-footer-total">{{ total }}</span>
                            <form action="" method="post">
                                <input class="" type="submit" value="提交">
                                <input class="" type="submit" value="删除">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

    </body>
    </html>